.title {
    display: flex;
    margin: 8px auto;
    text-align: center;
    height: 20vh;
    min-height: 80px;
    flex-direction: column;
}

.logoimg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.grid {
    margin-left: 400px;
}